<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= recipe.name%> Recipe</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= recipe.name%> Recipe</h1>
    <form action="/recipes/:recipeId?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= recipe.name%>" />

      <label for="instructions">Instructions:</label>
      <textarea name="instructions" id="instructions"><%= recipe.instructions%></textarea>
        <fieldset>
            <legend>Select Ingredients:</legend>
            <% recipe.ingredients.forEach(ingredient => { %>
                <div>
                <input
                    type="checkbox"
                    name="ingredients"
                    value="<%= ingredient._id %>"
                    id="ingredient-<%= ingredient._id %>"
                    <%= recipe.ingredients.some(rIng => rIng._id.equals(ingredient._id)) ? "checked" : "" %>
                />
                <label for="ingredient-<%= ingredient._id %>"><%= ingredient.name %></label>
                </div>
            <% }) %>
            <a href="/ingredients/new">Add Ingredient</a>
        </fieldset>

      <button type="submit">Update</button>
    </form>
  </body>
</html>
